/* Font Face
========================================================================== */

@font-face {
	font-family: 'quicksandlight';
	font-weight: normal;
	font-style: normal;

}


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }
body {
	line-height: 1; }
ol, ul {
	list-style: none; }
blockquote, q {
	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }
table {
	border-collapse: collapse;
	border-spacing: 0; }


/* #Prototype Styles
================================================== */
html, body{ background-color:#000000; }

body
{
	background-image: url("gauss.jpg");
	background-repeat: no-repeat;
	background-position: top center;
    /*
    width: calc(100% - 400px);
    margin-left: 200px;
    margin-right: 200px;
    */
	background-size:cover;
	height:100%;
	min-height:1000px;
	overflow-x:hidden;
	/*overflow:hidden;*/
	font-family: 'quicksandlight', Helvetica, Arial;
	color:#FFFFFF;
	text-shadow: -1px -1px 4px rgba(0, 0, 0, .35);
	filter: dropshadow(color=#000000, offx=1, offy=1);
}

header
{
	margin-top:30px;
	position:absolute;
	z-index:5;
	width:420px;
	padding-top:10px;
	padding-bottom:10px;

}

h1{
	font-size:36px;
	letter-spacing:-2.5px;
	position: relative;
}

h3{

	font-size:16px;
	letter-spacing:-1.5px;
	margin-top:5px;
	margin-left:35px;
}

#fps
{
	margin-top:5px;
	margin-left:35px;
}

a
{
	color:rgba( 255, 255, 255, .65 );
	text-decoration: none;
}

a:hover
{
	color:rgba( 255, 255, 255, 1 );
}

/*================================================================================================================================*/


.CarouselHousing
{
	position: relative;
	height: 700px;
}

.NavBar
{
	position: relative;
	height: 75px;
    background-color: rgba(0,0,0,.3);
    overflow: hidden;
}

.NavBar h1{
    position: absolute;
	
	background: -webkit-linear-gradient(#33CCFF, #888);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
    font-size:36px;
	letter-spacing:-2.5px;
	margin-left:30px;
	
	top:50%;
    transform: translateY(-50%);
}

.LinkBar
{
    position: relative;
    overflow: hidden;
    float: right;
    display: inline-block;
    height: inherit;
}

.LinkBar a
{
    position: relative;
    display:inline-block;
    overflow:hidden;
    top:50%;
    transform: translateY(-50%);
}


#InfoPane {
	position: relative;
	overflow:auto;
	background-color: rgba(0,0,0,.2);
	width: auto;
	height:500px;
	border-style: solid;
    border-width: 2px;
    border-color: rgba(51, 204, 255, 1);
    margin: 15px;
}

#InfoPane h1{
	font-size:36px;

	background: -webkit-linear-gradient(#33CCFF, #888);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;

	letter-spacing:-2.5px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}


.infoItem{
	position: absolute;
	padding: 15px;
	visibility: hidden;
}

.infoItemGallery{
    margin-top: 20px;
}

/*================================================================================================================================*/

/* hardware accelatator class */
	.trans3d
	{
		-webkit-transform-style: preserve-3d;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform-style: preserve-3d;
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform-style:preserve-3d;
		-ms-transform: translate3d(0, 0, 0);
		transform-style:preserve-3d;
		transform: translate3d(0, 0, 0);

		/*-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden;*/
	}
	
	#contentContainer
	{
		position:absolute;
		margin-top: -300px;
		left:50%;
		width:auto;
		height:700px;
	}
	
	#carouselContainer
	{
		position:absolute;
		margin-left:-500px;
		margin-top:-500px;
		left:50%;
		top:50%;
		width:1000px;
		height:1000px;
	}
	
	.carouselItem
	{
		width:320px;
		height:230px;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-160px;
		margin-top:-90px;
		visibility:hidden;
	}
	
	.carouselItemInner
	{
		width:320px;
		height:630px;
		position:absolute;
		background-color:rgba(0, 0, 0, .45);
		border:2px solid rgba(51, 204, 255, .75);
		color:aqua;
		font-size:72px;
		left:50%;
		top:50%;
		margin-left:-160px;
		text-align:center;
	}

	.carouselItemInner img {
		display: block;
		width:320px;
		height:630px;
	}









