<template name="carousel">
<div class="CarouselHousing">
    <div id="contentContainer" class="trans3d">
        <section id="carouselContainer" class="trans3d">
            <figure id="item1" class="carouselItem trans3d">
                <div class="carouselItemInner trans3d">
                    <img src="ezquote/main.png">
                </div>
            </figure>
            <figure id="item2" class="carouselItem trans3d">
                <div class="carouselItemInner trans3d">
                    <img src="cerebro/main.png">
                </div>
            </figure>
            <figure id="item3" class="carouselItem trans3d">
                <div class="carouselItemInner trans3d">
                    <img src="nrr.png">
                    <a href="https://itunes.apple.com/us/app/nile-river-rescue/id954161576?mt=8&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.alexanderpinkerton.nileriverrescueadenabled.android" style="display:inline-block;overflow:hidden;">
                    <img alt="Android app on Google Play"
                    src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" style="width:135px;height:40px;"/>
                    </a>
                </div>
            </figure>
            <figure id="item4" class="carouselItem trans3d">
                <div class="carouselItemInner trans3d">
                    4
                </div>
            </figure>
            <figure id="item5" class="carouselItem trans3d"><div class="carouselItemInner trans3d">5</div></figure>
        </section>
    </div>
</div>
</template>