<Template name='InfoPane'>
	<div id="InfoPane">
	<h1>Project Information</h1>
		<div class="infoItem" id="app1">
            <h2>Features</h2>
            <ul>
                <li>Full Android application using Yahoo Finance API to provide information and services.</li>
                <li>User Data stored on the cloud through user accounts via Parse.com.</li>
                <li>Allow users to get stock quotes and create/edit a custom watchlist.</li>
                <li>Historical data is parsed and plotted in a touch responsive graph.</li>
                <li>Current stock news is easily accessible from the main page.</li>
                <li>A background service is used to provide users with stock alerts when a target price is hit.</li>
            </ul>
            
            <div class="infoItemGallery">
                <img src="ezquote/watchlist.png" style="width:300px;height:533px;">
                <img src="ezquote/quoteview.png" style="width:300px;height:533px;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/riBoiwrHPws" frameborder="0" allowfullscreen></iframe>
            </div>    
		</div>
		<div class="infoItem" id="app2">			
			It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
		</div>
		<div class="infoItem" id="app3">			
			Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
		
		</div>
	</div>
</Template>