<Template name='InfoPane'>
	<div id="InfoPane">
	<h1>Project Information</h1>
		<div class="infoItem" id="app1">
            <ul>
                <li>Full Android application using Yahoo Finance API to provide information and services.</li>
                <li>User Data stored on the cloud through user accounts via Parse.com.</li>
                <li>Allow users to get stock quotes and create/edit a custom watchlist.</li>
                <li>Historical data is parsed and plotted in a touch responsive graph.</li>
                <li>Current stock news is easily accessible from the main page.</li>
                <li>A background service is used to provide users with stock alerts when a target price is hit.</li>
            </ul>
            <div class="infoItemGallery">
                <img class="picture" src="ezquote/watchlist.png" style="max-width: 33%;max-height: 100%;float:left;">
                <img class="picture" src="ezquote/quoteview.png" style="max-width: 33%;max-height: 100%;float:right;">
                <iframe width="560" height="315" style="margin:25px;" src="https://www.youtube.com/embed/riBoiwrHPws" frameborder="0" allowfullscreen></iframe>
            </div>    
		</div>
		<div class="infoItem" id="app2">
            <ul>
                <li>Marvel Database Android Application</li>
                <li>Parses JSON from Marvel's database and displays it neatly.</li>
                <li>Massive Character list used for predictive searching.</li>
                <li>Allows users to research characters and the comics in which they appear.</li>
                <li>Uses Google Analytics to track search trends and user counts in real time.</li>
            </ul>
            <div class="infoItemGallery">
                <img class="picture" src="cerebro/main.png" style="max-width: 30%;max-height: 100%;float:left;">
                <img class="picture" src="cerebro/character.png" style="max-width: 30%;max-height: 100%;margin-left:5%;">
                <img class="picture" src="cerebro/sidebar.png" style="max-width: 30%;max-height: 100%;float:right;">
            </div>   
		</div>
		<div class="infoItem" id="app3">
            <ul>
                <li>Mobile game developed using the libGdx framework.</li>
                <li>Can currently be found on the Google Play Store and Apple App Store.</li>
                <li>Custom Art created using Adobe Photoshop and Illustrator</li>
                <li>Custom Music</li>
                <li>Free Version and Paid versions availible for each platform.</li>
                <li>Free Version has ads integrated via Google Admob</li>
            </ul>
            <div class="infoItemGallery">
                <img class="picture" src="nileriverrescue/NRRsplash.png" style="max-width: 30%;max-height: 100%;float:left;">
                <img class="picture" src="nileriverrescue/NRRscoring.png" style="max-width: 30%;max-height: 100%;margin-left:5%;">
                <img class="picture" src="nileriverrescue/NRRmedals.png" style="max-width: 30%;max-height: 100%;float:right;">
            </div>   
		</div>
	</div>
</Template>